*{
    padding: 0px;
    margin: 0px;

}


.menu{
    background-color: #9ad3bc;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.contents{
    display: flex;
    justify-content: center;
    align-items: center;
  


}
.contents img{
    width: 100px;
    border-radius: 50px;
    margin: 0px 100px;
}
.lists{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
    text-decoration: none;
    list-style-type: none;
}
.lists a{
    padding: 30px;
    text-decoration: none;
    color: #f3eac2;
    font-size: 20px;

   
    
}

.showcase{
    background: rgba(0, 0, 0, 0.7) url(Zero-Code.gif);
    background-size: cover;
    height: 150vh;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #9ad3bc;


}

.head1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family: Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #9ad3bc;

    
}

.sect{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.showcase2
{
    height: 50vh;
}
.head2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    margin: auto;
    font-family: system-ui;

}
.head3{
    font-size: 50px;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: auto;
}

.ess{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items img{
    width: 70vh;
    border-radius: 14vh;
    padding: 0px 70px;
}

.para1{

    font-size: 25px;
    font-family: system-ui;
    width: 500px;
}
.heading{
    font-size: 35px;
    font-family: system-ui;
}

.showcase3.show2{
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

   


}
.showcase4{
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: center;


}

/* .items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
} */

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

}

.item img{
    width: 70vh;
    border-radius: 14vh;
    padding: 0px 70px;
}
.burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 15px;



}
.line{
    width: 33px;
    background-color: white;
    margin: 5px 5px;
    height: 4px;
}

.show5{
    padding: 50px;
}
.para4{
    padding: 29px;
    width: 366px;
    font-size: 20px;
}
.btn{
    padding: 20px 30px;
    background-color: #9ad3bc;
    font-size: 18px;
    font-family: fangsong;
    border-radius: 20px;
}

.btn:hover{
    content: "";
    background-color: black;
    color: white;
}
.lists a:hover{
    content: "";
    background-color: black;

    border-radius: 20px;
}

@media only screen and (max-width:1048px){
    .contents{
        flex-direction: column;
        height: 300px;
        transition: all 0.2s ease-out;
        

    } 
    .logo img{
        transition: all 0.2s ease-out;
    }
    .burger{
        display: block;
    }
    .hnav{
        height: 64px;
    }
    .head{
        color: black;

    }
    .head1{
        color: black;

    }
    .showcase{
        width: 100%;
    }
    .sect{
        width: 100%;
    }

    .showcase2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .vclass{

        opacity: 0;
    }
    .lists{
        flex-direction: column;
    
    }
    .lists a{
        padding: 23px;
    }
    .lists li{
        padding: 20px;
    }
}    